In [1]:
import pandas as pd

In [8]:
accepted_pd=pd.read_csv("Resources/lending_club_accepted.csv")
accepted_pd

C:\Users\dczor\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,39651438,NaN,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,16411620,NaN,9600.0,9600.0,9600.0,36 months,12.99,323.42,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,45122316,NaN,4000.0,4000.0,4000.0,36 months,6.68,122.93,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,125356772,NaN,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,128490686,NaN,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56513,121790258,NaN,21000.0,21000.0,20750.0,36 months,22.91,811.92,E,E1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
56514,740735,NaN,16000.0,16000.0,16000.0,36 months,5.99,486.68,A,A2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
56515,1706365,NaN,18000.0,18000.0,18000.0,60 months,21.00,486.97,E,E2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
56516,68825489,NaN,28750.0,28750.0,28750.0,60 months,18.99,745.64,E,E1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
56517,110774285,NaN,10000.0,10000.0,10000.0,36 months,7.21,309.74,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
accepted_pd['Risk_Score']

KeyError: 'Risk_Score'

In [15]:
rejected_pd=pd.read_csv("Resources/lending_club_rejected.csv")
rejected_pd

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
0,15000.0,2015-10-29,debt_consolidation,NaN,54.58%,761xx,TX,< 1 year,0.0
1,10000.0,2017-10-28,Credit card refinancing,605.0,28.71%,076xx,NJ,NaN,0.0
2,10000.0,2018-03-09,Debt consolidation,NaN,58.06%,087xx,NJ,< 1 year,0.0
3,7000.0,2016-10-18,Debt consolidation,571.0,6.66%,731xx,OK,< 1 year,0.0
4,5000.0,2017-02-07,other,NaN,2.23%,537xx,WI,< 1 year,0.0
...,...,...,...,...,...,...,...,...,...
691214,4500.0,2016-06-29,other,NaN,40.18%,951xx,CA,< 1 year,0.0
691215,10000.0,2016-06-06,debt_consolidation,NaN,2.45%,775xx,TX,< 1 year,0.0
691216,20000.0,2016-10-26,Other,685.0,12.24%,980xx,WA,< 1 year,0.0
691217,15000.0,2018-07-20,Debt consolidation,NaN,49.29%,320xx,FL,< 1 year,0.0
691218,14075.0,2018-03-19,Car financing,NaN,100%,920xx,CA,1 year,0.0

In [23]:
len(rejected_pd)

691219

In [24]:
len(accepted_pd)

56518

In [ ]:
accepted_df
df[df['A'].str.contains("hello")]