### The dataset was far too large to upload to GitHub. This notebook trims down unwanted data, then saves a random sample for use in later analysis.

In [1]:
import pandas as pd

In [5]:
accepted_df = pd.read_csv('accepted_2007_to_2018q4.csv/accepted_2007_to_2018q4.csv')

In [ ]:
accepted_df = accepted_df.drop(['id','member_id','funded_amnt','funded_amnt_inv','grade','sub_grade','emp_title',\
                               'issue_d','url','desc','purpose','earliest_cr_line','last_pymnt_d','next_pymnt_d',\
                               'last_credit_pull_d','mths_since_last_major_derog','policy_code'],axis=1)

In [29]:
individual_df = accepted_df.loc[accepted_df['application_type']=='Individual']
individual_df.head(2)

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,3600.0,36 months,13.99,123.03,10+ years,MORTGAGE,55000.0,Not Verified,Fully Paid,n,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,24700.0,36 months,11.99,820.28,10+ years,MORTGAGE,65000.0,Not Verified,Fully Paid,n,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
individual_df = individual_df.drop(['hardship_payoff_balance_amount','hardship_last_payment_amount','disbursement_method',\
                                    'debt_settlement_flag','debt_settlement_flag_date','settlement_status','settlement_date',\
                                    'settlement_amount','settlement_percentage','settlement_term'], axis=1)
individual_df.head(2)

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest
0,3600.0,36 months,13.99,123.03,10+ years,MORTGAGE,55000.0,Not Verified,Fully Paid,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,24700.0,36 months,11.99,820.28,10+ years,MORTGAGE,65000.0,Not Verified,Fully Paid,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
individual_df = individual_df.drop(['hardship_status','deferral_term','hardship_amount','hardship_start_date',\
                                    'hardship_end_date','payment_plan_start_date','hardship_length','hardship_dpd',\
                                    'hardship_loan_status','orig_projected_additional_accrued_interest'
], axis=1)

individual_df.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason
0,3600.0,36 months,13.99,123.03,10+ years,MORTGAGE,55000.0,Not Verified,Fully Paid,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
1,24700.0,36 months,11.99,820.28,10+ years,MORTGAGE,65000.0,Not Verified,Fully Paid,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
3,35000.0,60 months,14.85,829.90,10+ years,MORTGAGE,110000.0,Source Verified,Current,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
4,10400.0,60 months,22.45,289.91,3 years,MORTGAGE,104433.0,Source Verified,Fully Paid,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN
5,11950.0,36 months,13.44,405.18,4 years,RENT,34000.0,Source Verified,Fully Paid,n,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN

In [33]:
individual_df = individual_df.drop(['sec_app_open_acc','sec_app_revol_util','sec_app_open_act_il','sec_app_num_rev_accts',\
                                    'sec_app_chargeoff_within_12_mths','sec_app_collections_12_mths_ex_med',\
                                    'sec_app_mths_since_last_major_derog','hardship_flag','hardship_type','hardship_reason'
], axis=1)

individual_df.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc
0,3600.0,36 months,13.99,123.03,10+ years,MORTGAGE,55000.0,Not Verified,Fully Paid,n,...,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN
1,24700.0,36 months,11.99,820.28,10+ years,MORTGAGE,65000.0,Not Verified,Fully Paid,n,...,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN
3,35000.0,60 months,14.85,829.90,10+ years,MORTGAGE,110000.0,Source Verified,Current,n,...,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN
4,10400.0,60 months,22.45,289.91,3 years,MORTGAGE,104433.0,Source Verified,Fully Paid,n,...,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN
5,11950.0,36 months,13.44,405.18,4 years,RENT,34000.0,Source Verified,Fully Paid,n,...,16900.0,12798.0,9400.0,4000.0,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
individual_df = individual_df.drop(['revol_bal_joint','sec_app_fico_range_low','sec_app_fico_range_high',\
                                    'sec_app_earliest_cr_line','sec_app_inq_last_6mths','sec_app_mort_acc'
], axis=1)

individual_df.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,3600.0,36 months,13.99,123.03,10+ years,MORTGAGE,55000.0,Not Verified,Fully Paid,n,...,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0
1,24700.0,36 months,11.99,820.28,10+ years,MORTGAGE,65000.0,Not Verified,Fully Paid,n,...,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0
3,35000.0,60 months,14.85,829.90,10+ years,MORTGAGE,110000.0,Source Verified,Current,n,...,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0
4,10400.0,60 months,22.45,289.91,3 years,MORTGAGE,104433.0,Source Verified,Fully Paid,n,...,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0
5,11950.0,36 months,13.44,405.18,4 years,RENT,34000.0,Source Verified,Fully Paid,n,...,0.0,0.0,100.0,100.0,0.0,0.0,16900.0,12798.0,9400.0,4000.0

In [41]:
# Here, we're removing columns that have plenty of rows, but the titles are not thoroughly explained

individual_df = individual_df.drop(['application_type','verification_status_joint',\
                                    'open_acc_6m','open_act_il','open_il_12m','open_il_24m','mths_since_rcnt_il',\
                                    'total_bal_il','il_util','open_rv_12m','open_rv_24m','max_bal_bc','all_util'

], axis=1)

individual_df.head()

,loan_amnt,term,int_rate,installment,emp_length,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,3600.0,36 months,13.99,123.03,10+ years,MORTGAGE,55000.0,Not Verified,Fully Paid,n,...,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0
1,24700.0,36 months,11.99,820.28,10+ years,MORTGAGE,65000.0,Not Verified,Fully Paid,n,...,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0
3,35000.0,60 months,14.85,829.90,10+ years,MORTGAGE,110000.0,Source Verified,Current,n,...,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0
4,10400.0,60 months,22.45,289.91,3 years,MORTGAGE,104433.0,Source Verified,Fully Paid,n,...,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0
5,11950.0,36 months,13.44,405.18,4 years,RENT,34000.0,Source Verified,Fully Paid,n,...,0.0,0.0,100.0,100.0,0.0,0.0,16900.0,12798.0,9400.0,4000.0

In [42]:
individual_df['mths_since_recent_revol_delinq'] = individual_df['mths_since_recent_revol_delinq'].fillna(value=-1)

In [43]:
individual_df['mths_since_recent_bc_dlq'] = individual_df['mths_since_recent_bc_dlq'].fillna(value=-1)

In [49]:
c_list = ['inq_fi','total_cu_tl','inq_last_12m']

for c in c_list:
    individual_df[c] = individual_df[c].fillna(value=-1)

In [53]:
accepted_df = individual_df

In [52]:
columnslist = individual_df.columns
i = 0
for c in columnslist:
    print(f'{c:<43}', end='')
    i += 1
    if i % 3 == 0:
        print()
        
print(f'\n\nnumber of columns: {i}')

loan_amnt                                  term                                       int_rate
installment                                emp_length                                 home_ownership
annual_inc                                 verification_status                        loan_status
pymnt_plan                                 title                                      zip_code
addr_state                                 dti                                        delinq_2yrs
fico_range_low                             fico_range_high                            inq_last_6mths
mths_since_last_delinq                     mths_since_last_record                     open_acc
pub_rec                                    revol_bal                                  revol_util
total_acc                                  initial_list_status                        out_prncp
out_prncp_inv                              total_pymnt                                total_pymnt_inv
total_rec_prncp                            total_rec_int                              total_rec_late_fee
recoveries                                 collection_recovery_fee                    last_pymnt_amnt
last_fico_range_high                       last_fico_range_low                        collections_12_mths_ex_med
annual_inc_joint                           dti_joint                                  acc_now_delinq
tot_coll_amt                               tot_cur_bal                                total_rev_hi_lim
inq_fi                                     total_cu_tl                                inq_last_12m
acc_open_past_24mths                       avg_cur_bal                                bc_open_to_buy
bc_util                                    chargeoff_within_12_mths                   delinq_amnt
mo_sin_old_il_acct                         mo_sin_old_rev_tl_op                       mo_sin_rcnt_rev_tl_op
mo_sin_rcnt_tl                             mort_acc                                   mths_since_recent_bc
mths_since_recent_bc_dlq                   mths_since_recent_inq                      mths_since_recent_revol_delinq
num_accts_ever_120_pd                      num_actv_bc_tl                             num_actv_rev_tl
num_bc_sats                                num_bc_tl                                  num_il_tl
num_op_rev_tl                              num_rev_accts                              num_rev_tl_bal_gt_0
num_sats                                   num_tl_120dpd_2m                           num_tl_30dpd
num_tl_90g_dpd_24m                         num_tl_op_past_12m                         pct_tl_nvr_dlq
percent_bc_gt_75                           pub_rec_bankruptcies                       tax_liens
tot_hi_cred_lim                            total_bal_ex_mort                          total_bc_limit
total_il_high_credit_limit

number of columns: 85

In [56]:
accepted_sample = accepted_df.sample(frac=0.05, random_state=42)

In [4]:
accepted_sample.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
392949,39651438,NaN,32000.0,32000.0,32000.0,60 months,10.49,687.65,B,B3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1273506,16411620,NaN,9600.0,9600.0,9600.0,36 months,12.99,323.42,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
324024,45122316,NaN,4000.0,4000.0,4000.0,36 months,6.68,122.93,A,A3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2066630,125356772,NaN,6025.0,6025.0,6025.0,36 months,10.91,197.00,B,B4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
477199,128490686,NaN,25000.0,25000.0,25000.0,60 months,26.30,752.96,E,E5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
accepted_sample.to_csv('accepted2.csv', index=False)

In [58]:
len(accepted_sample)

106998

In [6]:
rejected_df = pd.read_csv('rejected_2007_to_2018q4.csv/rejected_2007_to_2018q4.csv')

In [7]:
rejected_sample = rejected_df.sample(frac=0.025, random_state=42)

In [9]:
rejected_sample.head()

,Amount Requested,Application Date,Loan Title,Risk_Score,Debt-To-Income Ratio,Zip Code,State,Employment Length,Policy Code
23949778,15000.0,2015-10-29,debt_consolidation,NaN,54.58%,761xx,TX,< 1 year,0.0
20321967,10000.0,2017-10-28,Credit card refinancing,605.0,28.71%,076xx,NJ,NaN,0.0
11092152,10000.0,2018-03-09,Debt consolidation,NaN,58.06%,087xx,NJ,< 1 year,0.0
26499034,7000.0,2016-10-18,Debt consolidation,571.0,6.66%,731xx,OK,< 1 year,0.0
3616603,5000.0,2017-02-07,other,NaN,2.23%,537xx,WI,< 1 year,0.0

In [10]:
rejected_sample.to_csv('rejected.csv', index=False)

In [11]:
len(rejected_sample)

691219

In [12]:
len(accepted_sample)

56518